{% extends "base.html" %}
{% block title %}{{ task.title }}{% endblock %}
{% block content %}
    <p>{{ task["title"] }}</p>
    <form action="/tasks/rename" method="POST">
        <input type="hidden" name="id" value="{{id}}" />
        <input type="text" name="title" value="{{ task["title"] }}" />
        <input type="submit" value="rename">
    </form>
    <p>created at: {{ task.created_at  }}</p>
    <p>updated at: {{ task.updated_at  }}</p>
    <form action="/tasks/delete" method="POST">
        <input type="hidden" name="id" value="{{id}}" />
        <input type="submit" value="delete">
    </form>
    <form action="/tasks" method="GET">
        <input type="submit" value="back">
    </form>
{% endblock %}
